.activity-detail-page {
  display: flex;
  padding: 30px;
  background: #faf7e9;
  gap: 32px;
}

.left-image-block {
  flex: 2;
}

.activity-banner {
  width: 100%;
  border-radius: 12px;
}

.right-info-block {
  flex: 1.3;
  background: white;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.activity-title {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  color: #777;
  margin-top: 6px;
  margin-bottom: 16px;
}

.meta-item {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.price-block {
  margin: 18px 0;
}

.price {
  font-size: 28px;
  font-weight: 800;
}

.book-btn {
  background: black;
  color: white;
  padding: 14px 22px;
  border-radius: 10px;
  width: 100%;
  margin-top: 12px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
}

.offer-strip {
  background: #622aff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  margin-top: 14px;
}
