.confirmation-page {
  text-align: center;
  padding: 25px;
}

.ticket {
  width: 350px;
  margin: 25px auto;
  background: linear-gradient(145deg, #1d0000, #5a0000, #1d0000);
  color: white;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(255, 60, 60, 0.4);
  position: relative;
  overflow: hidden;
}

.ticket h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.ticket-poster {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.ticket p {
  font-size: 17px;
  margin: 5px 0;
}

/* DIVIDER LINE */
.ticket::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: rgba(255,255,255,0.3);
  position: absolute;
  top: 62%;
  left: 0;
}

/* QR CONTAINER */
.qr-box {
  margin-top: 25px;
  background: white;
  padding: 15px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-page button {
  margin-top: 20px;
  width: 80%;
  padding: 14px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  background: #ff3c3c;
  border: none;
  color: white;
  transition: 0.3s ease;
}

.confirmation-page button:hover {
  background: #c82323;
  transform: translateY(-2px);
}
