.movie-detail-container {
  display: flex;
  gap: 30px;
  padding: 25px;
  margin-top: 20px;
}

.detail-poster {
  width: 350px;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-info h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
}

.detail-info p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 25px;
}

.book-btn {
  background: #ff3c3c;
  padding: 12px 25px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
  font-weight: 600;
}

.book-btn:hover {
  background: #e22b2b;
}

@media (max-width: 768px) {
  .movie-detail-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detail-poster {
    width: 250px;
    height: 350px;
  }
}
