.movie-detail-container {
  display: flex;
  gap: 30px;
  padding: 25px;
  margin-top: 20px;
}

.detail-poster {
  width: 350px;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-info h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
}

.detail-info p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 25px;
}

.md-book-btn {
  background: #000;
  padding: 10px 18px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  font-weight: 700;
  transition: opacity .2s ease;
}
.md-book-btn:hover { opacity: .85; }

@media (max-width: 768px) {
  .movie-detail-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detail-poster {
    width: 250px;
    height: 350px;
  }
}
