.hero-banner {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 15px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  color: white;
}

.banner-title {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.banner-subtext {
  font-size: 20px;
  margin: 8px 0 18px 0;
}

.book-btn {
  background: #ff3c3c;
  border: none;
  padding: 12px 25px;
  font-size: 17px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.book-btn:hover {
  background: #e62e2e;
}
