/* Remove old CRA styling */
.App {
  text-align: left;
  background: #fff;
}

/* Enforce District Font globally */
body, * {
  font-family: 'Okra', 'Okra-Medium', 'Okra-Regular', sans-serif !important;
}

